.footer {
  padding-top: 60px;
  background-image: url(..//images/footer_background_phone.png);
  background-color: $main-black;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 8px;
  @media screen and (min-width: 768px) {
    background-image: url(../images/footer_background_tablet.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/footer_background_desktop.png);
    position: relative;
    padding: 60px 48px 10px 48px;
  }
  @media screen and (min-width: 1440px) {
  }
}
.footer_section {
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
  }
}
.footer_section1 {
  order: 2;
}

.footer_team {
  text-transform: uppercase;
  color: $main-white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 47px;
  font-weight: 700;
  width: 130px;
  margin: 0 auto 47px;
  @include before-after-title(
    $color: $main-white,
    $top: 8px,
    $left: -65px,
    $right: -65px
  );
  @media screen and (min-width: 768px) {
    font-size: 26px;
    width: 200px;
    margin-bottom: 73px;
    @include before-after-title(
      $color: $main-white,
      $top: 10px,
      $left: -68px,
      $right: -68px
    );
  }
}

.div_form {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 600px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    text-align: right;
    // margin: 0 34px 0 auto;
  }
}
.footer_input_name {
  width: 280px;
  height: 44px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: none;
  background-color: $main-white;
  border-radius: 2px;
  color: #c1c1c1;
  padding: 16px 16px;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    margin-right: 8px;
    margin-bottom: 17px;
  }
  &--left {
    margin-right: 0;
  }
}
.footer_input_name::placeholder {
  color: #c1c1c1;
}
.footer_input_name:focus {
  border: none;
  outline: none;
}
.footer_input_name_message {
  width: 280px;
  padding: 22px 16px;
  height: 174px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: none;
  background-color: $main-white;
  border-radius: 2px;
  color: #c1c1c1;
  margin-bottom: 45px;
  resize: none;

  @media screen and (min-width: 768px) {
    width: 571px;
    margin-bottom: 30px;
  }
}
.footer_input_name_message::placeholder {
  color: #c1c1c1;
}
.footer_input_name_message:focus {
  border: none;
  outline: none;
}
.input_submit {
  width: 170px;
  height: 50px;
  color: $main-white;
  background-color: $light-blue;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  margin-bottom: 115px;
  cursor: pointer;
  margin-bottom: 56px;
  @media screen and (min-width: 1200px) {
    margin-right: 2px;
  }
}
.input_submit {
  border: none;
  outline: none;
}
.footer_subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: $main-white;
  font-weight: 400;
  margin-bottom: 16px;
  @media screen and (min-width: 1200px) {
    margin-top: -10px;
  }
}
.footer_section2 {
  text-align: center;
  margin: 0 auto;
  // width: 300px;
  @media screen and (min-width: 1200px) {
    text-align: left;
    // padding: 20px;
    margin: 0;
  }
  @media screen and (min-width: 1440px) {
  }
}
.footer_subtitle_paragraf {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #999999;
  width: 278px;

  margin: 0 auto;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    width: 400px;
  }
}

.footer_icons {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 43px;
  @media screen and (min-width: 1200px) {
    margin: 39px 0 29px;
  }
}

.footer_link {
  text-decoration: none;
  background-image: url('../images/team_facebook.png');
  background-size: 10px;
  display: block;
  background-repeat: no-repeat;
  @include icon-wrapper(
    $brd-radius: 50%,
    $background-color: #3a5794,
    $size: 33px
  );
  &:nth-child(2) {
    background-image: url('../images/team_twitter.png');
    background-size: 22px;
    background-color: $light-blue;
  }
  &:nth-child(3) {
    background-image: url('../images/team_instamgram.png');
    background-size: 32px;
    background-color: #82459a;
  }
  &:nth-child(4) {
    background-image: url('../images/team_github.png');
    background-size: 32px;
    background-color: $main-black;
  }
}

// .footer_icon_facebook {
//   width: 10px;
//   height: 20px;
// }

// .footer_icon_twitter {
//   width: 20px;
//   height: 16px;
// }
// .icon {
//   width: 10px;
//   height: 20px;
// }

// .instagram_icon {
//   width: 30px;
//   height: 20px;
// }
.footer_number {
  margin-bottom: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #bface2;
  font-size: 14px;
  @media screen and (min-width: 1440px) {
  }
}

.footer_email {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #bface2;
  font-size: 14px;
}

.footer_email::after {
  background-color: rgba(255, 255, 255, 0.8);
  height: 1px;
  content: '';
  display: block;
  margin-top: 48px;
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 100vw;
    position: absolute;
    bottom: 65px;
    left: 0;
  }
}

.footer_gmail {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 215px;
  color: #a9a9a9;
  margin: 0 20px;
  @media screen and (min-width: 768px) {
    width: 310px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-top: 25px;
    margin-right: 20px;
  }
}

.footer_Ubermensches {
  width: 40px;
  height: 36px;
  border-radius: 50%;
  @media screen and (min-width: 768px) {
    width: 50px;
    height: 50px;
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    top: 5px;
  }
}

.footer_gmail_div {
  display: flex;
  margin: 0 auto;
  max-width: 1350px;
}
