.header {
  &__wrapper {
    height: 80px;
    background-color: $main-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;

  }
  &__logo {
    .header {
  &__wrapper {
    height: 80px;
    background-color: $main-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  &__logo {
  }
  &__menu {
  }
  &__burger {
  }
  &__content-wrapper {
  }
  &__text-wrapper {
  }
  &__headline {
  }
  &__text {
  }
  &__list {
  }
  &__btn {
  }
  &__img {
  }
}
.logo {
  &__link {
  }
}
.menu {
  &__list {
  }
}
.list {
  &__item {
  }
  &__link {
    
  }
}
.burger {
  &--static {
  }
  &--active {
  }
}
.header-list {
  &__item {
  }
}
.btn {
  &__image {
  }
}

  }
  &__menu {
  }
  &__burger {
  }
  &__content-wrapper {
  }
  &__text-wrapper {
  }
  &__headline {
  }
  &__text {
  }
  &__list {
  }
  &__btn {
  }
  &__img {
  }
}
.logo {
  &__link {
  }
}
.menu {
  &__list {
  }
}
.list {
  &__item {
  }
  &__link {
  }
}
.burger {
  &--static {
  }
  &--active {
  }
}
.header-list {
  &__item {
  }
}
.btn {
  &__image {
  }
}
