@mixin icon-wrapper($brd-radius: 50%, $background-color: #0098cd, $size: 69px, $img) {
  border-radius: $brd-radius;
  background-color: $background-color;
  width: $size;
  height: $size;
  background-image: url("$img");
  background-position: center;
}
