@mixin icon-wrapper($brd-radius: 50%, $background-color: #0098cd, $size: 69px) {
  border-radius: $brd-radius;
  background-color: $background-color;
  width: $size;
  height: $size;
  background-position: center;
}
@mixin btn($height: 50px, $width: 170px, $color: #fff, $bgrd-color: #31d4e7, $fz: 22px, $border-radius: 3px) {
  height: $height;
  width: $width;
  color: $color;
  background-color: $bgrd-color;
  border-radius: $border-radius;
  font-size: $fz;
}
@mixin before-after-title($color:#222222, $top:8px , $left:-80px, $right:80px) {
  position: relative;
  //  z-index: 1;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    color: $color;
    width: 60px;
    //  z-index: -1;
    top: $top;
  }

  &:before {
    left: $left;
  }

  &:after {
    right: $right;
  }
}
