.reviews{
  margin-top: 50px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;

  &__title{
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0 auto;
    width: 160px;
    max-width: 197px;
    font-weight: 700;
    font-size: 18px;
    color:$main-blue;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 52px;
    position: relative;

    &::before,
    &::after{
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      top: 9px;
      border-bottom: 2px solid #babdc1;
    }

    &::before{
      left: -46px;
      top: 15px;
    }
    &::after{
      right: -46px;
      top: 15px;
    }
    
      
 }



  &__slider{
    height: 115vh;
    width: inherit;
    overflow: hidden;
    position: relative;
    align-items: center;
  
    &-img{
      margin-top: 4px;
      border-radius: 100px;
      width: auto;
      height: 90px; 
    }

    &-wrapper{
      height: 80vh;
      width: 280px;
      margin: 0 auto;
      position: relative;
    }

    &-controls{
      margin: 0 auto;
      position: relative;
    }
  
    &-wrapper > input{
      display: none;
    }
  
    &-slides{
      height: inherit;
      width: inherit;
      position: absolute;
      opacity: 0;
      z-index: 0;
      transform: scale(1.5);
      transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    }
  
    &-controls-label{
      cursor: pointer;
      display: inline-block;
      height: 10px;
      width: 10px;
      margin: 25px 4px 0 4px;
      position: relative;
      border-radius: 50%;
      background-color:#d4d3d4;
      transition: all ease-in-out .5s
    }
  
    &-control{
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
      z-index: 55;
    }
  
    &-control-label{
      z-index: 0;
      display: none ;
      text-align: center;
      line-height: 40px;
      font-size: 40px;
      color: $main-blue;
      cursor: pointer;
      opacity: .6;
      
      &:hover{
        opacity: 1;
      }
    }
  
    &-next{
      right: -20px;
    }
    &-prev{
      left: -20px;
    }

    &-inner{
      content: '';
      position: relative;
      border: 2px solid #c4c7c7;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
     }

     &-title{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: #062033;
      margin-bottom: 5px;
     }

     &-subtitle{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #979797;
      margin-bottom: 29px;
     }

     &-review-show{
      font-family: 'Open Sans', sans-serif;
      line-height: 24px;
      font-weight: 400;
      font-size: 16px;
      color: $text-color;
      max-width: 219px;
      margin: 0 auto;
     }

      &-review{
      position: relative;

        &::before{
          content: '';
          background-image: url('../images/quote.png');
          width: 50px;
          height: 40px;
          position: absolute;
          left: 0;
          top: -20px;
          z-index: -1;
        }
      }
    }

  @media screen and (min-width: 768px){
    .reviews{
      // min-width: 768px;
      // width: 768px;

      &__title{
        width: 395px;
        font-size: 28px;
        max-width: 760px;
        margin-bottom: 52px;
        position: relative;

        &::before,
        &::after{
          width: 61px;
        }

        &::before{
          left: -92px;
        }
        &::after{
          right: -92px;
        }
        
          
     }
    
      &__slider{
        width: 580px;
        height: 95vh;
        &-img{
          margin-top: 4px;
          border-radius: 100px; 
          
        }
    
        &-wrapper{
          width: 580px;
          margin: 0 auto;
          position: relative;
        }
    
        &-controls{
          margin: 0 auto;
          position: relative;
        }
      
        &-wrapper > input{
          display: none;
        }
      
        &-slides{
          width: 580px;
        }
      
        &-controls-label{
          cursor: pointer;
          display: inline-block;
          height: 10px;
          width: 10px;
          margin: 25px 4px 0 4px;
          position: relative;
          border-radius: 50%;
          background-color:#d4d3d4;
          transition: all ease-in-out .5s
        }
      
        &-control{
          position: absolute;
          top: 50%;
          width: 50px;
          height: 50px;
          transform: translateY(-50%);
          z-index: 55;
        }
      
        &-control-label{
          z-index: 0;
          display: none ;
          text-align: center;
          line-height: 40px;
          font-size: 60px;
          color: $main-blue;
          cursor: pointer;
          opacity: .6;
          
          &:hover{
            opacity: 1;
          }
        }
      
        &-next{
          right: -35px;
        }
        &-prev{
          left: -35px;
        }
    
        &-inner{
          content: '';
          position: relative;
          border: 2px solid #c4c7c7;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 0 auto;
         }
    
         &-title{
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          font-size: 18px;
          color: #062033;
          margin-bottom: 5px;
         }
    
         &-subtitle{
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #979797;
          margin-bottom: 29px;
         }
    
         &-review-show{
          line-height: 36px;
          font-weight: 400;
          font-size: 18px;
          max-width: 510px;
          width: 100%;
         }
        }
    }
  }
  @media screen and (min-width: 1200px){
    .reviews{

      &__title{
        font-size: 28px;
      }
  
    &__slider{
      height: 72vh;
      width: 939px;
      
  
      &-wrapper{
        // height: 55vh;
        margin: 0 auto;
        width: 939px;
        position: relative;
      }
  
      &-controls{
        margin: 0 auto;
        position: relative;
      }
    
      &-wrapper > input{
        display: none;
      }
    
      &-slides{
        // height: 50vh;
        width: 939px;
      }
    
      &-controls-label{
        cursor: pointer;
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 25px 4px 0 4px;
        position: relative;
        border-radius: 50%;
        background-color:#d4d3d4;
        transition: all ease-in-out .5s
      }

       &-title{
        font-size: 20px;
       }
  
       &-review-show{
        max-width: 920px;
        width: 100%;
       }
      }
  }
}
  @media screen and (min-width: 1440px){
    .reviews{

        
   
  
      &__slider{
        height: 72vh;
        width: 1000px;
        
    
        &-wrapper{
          // height: 55vh;
          margin: 0 auto;
          width: 939px;
          position: relative;
        }
    
        &-controls{
          margin: 0 auto;
          position: relative;
        }
      
        &-wrapper > input{
          display: none;
        }
      
        &-slides{
          // height: 50vh;
          width: 939px;
        }
        &-control{
          width: 50px;
          height: 50px;
        }
        &-controls-label{
          cursor: pointer;
          display: inline-block;
          height: 10px;
          width: 10px;
          margin: 25px 4px 0 4px;
          position: relative;
          border-radius: 50%;
          background-color:#d4d3d4;
          transition: all ease-in-out .5s
        }
  
        }
    }
  }
  }

.reviews__slider-controls-label:hover, 
#slide1:checked ~ .reviews__slider-controls label:nth-of-type(1),
#slide2:checked ~ .reviews__slider-controls label:nth-of-type(2),
#slide3:checked ~ .reviews__slider-controls label:nth-of-type(3),
#slide4:checked ~ .reviews__slider-controls label:nth-of-type(4){
	background: $main-blue;
}

#slide1:checked ~ .reviews__slider > .slide1,
#slide2:checked ~ .reviews__slider > .slide2,
#slide3:checked ~ .reviews__slider > .slide3,
#slide4:checked ~ .reviews__slider > .slide4{
	opacity: 1;
	transform: scale(1);
}
#slide1:checked ~ .reviews__slider-prev .numb4,
#slide1:checked ~ .reviews__slider-next .numb2,
#slide2:checked ~ .reviews__slider-next .numb3,
#slide3:checked ~ .reviews__slider-next .numb4,
#slide2:checked ~ .reviews__slider-prev .numb1,
#slide3:checked ~ .reviews__slider-prev .numb2,
#slide4:checked ~ .reviews__slider-prev .numb3,
#slide4:checked ~ .reviews__slider-next .numb1{
  display: block;
  z-index: 10;
}

